<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="POS.css">
<head>
<title>Manager page!</title>
<h1><center>Bobs Grocery</center></h1>
</head>
<body>


<table align="right">
<tr>
<td>
<form action="Managerpage.html" method="post">
<center><b>Generate Product orders</b></center>
</td>
</tr>
<tr>
<td>
<p>
<center><textarea name="textbox" rows="22" cols="50"> </textarea></center>
<center><input type="button" name="productsearch" value="Order Products"><center>
</form>
</td>
</tr>
</table>
<table>
<tr>
<td>
<form action="managerpage.html" method="post">Search By: <select name="ProductID">
<option value="Name"> Name </option>
<option value="ProductID">Product ID</option>
</select>
</td>
<td><input type="text" name="text"></td><td><input type="button" name="Search" value="Search"></td></tr>
</table>
</form>

<div class="content">
<form action="Managerpage.html" method="post">

<table>
<tr>
<td>

<p>ID Name <input type="text" name="ID Name">
<p>Name <input type="text" name="Name">
<p>Product Id <input type="text" name="Product Id">
<p>Purchase Price <input type="text" name="Purchase Price">
<p>Selling Price <input type="text" name="Selling Price">
<p>Seller <input type="text" name="Seller">
<p>Product Type <input type="text" name="Product Type">
<p>Amount In Stock <input type="text" name="Amount in Stock"></td>
</tr>
</table>
<p><input type="button" name="Update" value="Update">
<tr>
<td>
<center>
<table border="1" align="center"><tr>
<td>ID Name</td>
<td>Name</td>
<td>Product Id</td>
<td>Purchase Price</td>
<td>Selling Price</td>
<td>Seller</td>
<td> Product Type</td>
<td>Amount In Stock</td></tr>
{% for item in items %}
<tr><td>{{item[0]}}</td>
<td>{{item[1]}}</td>
<td>{{item[2]}}</td>
<td>{{item[3]}}</td>
<td>{{item[4]}}</td>
<td>{{item[5]}}</td>
<td>{{item[6]}}</td>
<td>{{item[7]}}</td>
</tr>
{% endfor %}
</td>
</tr>
</table>
</center>


<p>
<p>
<p>

</form>
<form action="Managerpage.html" method="post">
<center>
<table>
<tr>
<td>
<center>
<p>Name <input type="text" name="Name">
<p>Selling Price <input type="text" name="Selling Price">
<p><input type="button" name="sale" value="Create Sale"><p>
</td>
<td>
<table border="1" align="center">
<tr>
<th colspan="3"><center>Weekly Profit report</center></th>
</tr>
<tr>
<td>//</td>
<td>//</td>
<td>//</td>
</tr>
{% for item in items %}
<tr>
<td>{{item[1]}}</td>
<td>{{item[2]}}</td>
<td>{{item[3]}}</td>
</tr>
{% endfor %}
</table>
</center>
</td>
</tr>
</table>
</center>
</form>
</div>
</body>
</html>
