<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
  </head>
  <body>
    <h2>This is some forms!!!</h2>
    <form action="/writeEmail" method="post">
      <fieldset>
        Name:<br>
        <input type="text" name="customer_name"></input>
        <br>
        Email:<br>
        <input type="text" name="customer_email"></input>
        <input type="submit" name="form"></input>
      </fieldset>
    </form>
    <form action="/searchEmailsByName" method="post">
      <fieldset>
        Search Emails By Name:<br>
        <input type="text" name="emailNameSearch"></input>
        <input type="submit" name="Form">
      </fieldset>
    </form>
    <form action="/searchInventoryByName" method="post">
      <fieldset>
        Search Inventory By Name:<br>
        <input type="text" name="nameSearch"></input>
        <input type="submit" name="Form">
      </fieldset>
    </form>
    <form action="/searchInventoryById" method="post">
      <fieldset>
        Search Inventory By Id:<br>
        <input type="text" name="idSearch"></input>
        <input type="submit" name="Form">
      </fieldset>
    </form>
    <div>
      <p>
        <a href="/inventory">inventory</a>
    </div>
    <div>
      <p>
        <a href="/emailList">Emails</a>
    </div>
  </body>
</html>
