<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="static/styles/POS.css">
<head>
<title>Manager page!</title>
<h1><center>Bobs Grocery</center></h1>
</head>
<body>


<div class="navigation">
<form action="/orderMoreProducts">
<center><b>Generate Product orders</b></center>
<p>
<center><table>
<tr>
<th>Name</th>
<th>Product ID</th>
<th>Purchase Price</th>
<th>Amount In Stock</th>
</tr>
{% for item in lowInv %}
<tr>
<td align="center">{{item[0]}}</td>
<td align="center">{{item[1]}}</td>
<td align="center">{{item[2]}}</td>
<td align="center">{{item[6]}}</td>
</tr>
{% endfor %}
<input type="submit" name="productsearch" value="Order Products"></input>
</table></center>
<center>

</center>

</form>

</div>

<table>
<tr>
<td>
<form action="/managerSearch">Search By: <select name="ProductID">
<option value="Name"> Name </option>
<option value="ProductID">Product ID</option>
</select>
</td>
<td><input type="text" name="text"></td><td><input type="submit" name="Search"></td></tr>
<tr>
<td><a href="/pos"><button type="button">Cashier Page</button>
</td>
</tr>
<tr>
<td><a href="/logout"><button type="button">Logout</button>
</td>
</tr>
</table>
</form>

<div class="content">
<form action="/managerUpdate">

<table>
<tr>
<td>
<p> Update Product Information - Please enter any Product Id and any info you want updated</p>
<p>Product ID <input type="text" name="productId">
<p>Name <input type="text" name="Name">
<p>Purchase Price <input type="text" name="purchasePrice">
<p>Selling Price <input type="text" name="sellingPrice">
<p>Seller <input type="text" name="Seller">
<p>Product Type <input type="text" name="productType">
<p>Amount In Stock <input type="text" name="amountInStock"></td>
</tr>
</table>
<p><input type="submit" name="Update" value="Update">
<br>
<br>
<a href="/transactions"><button type="button">Transactions</button></a><br>
<br>
<br>
<a href="/profitReport"><button type="button">Profit Report</button></a><br><br>
<tr>
<td>
<center>
<table border="1" align="center"><tr>
<td>Name</td>
<td>Product Id</td>
<td>Purchase Price</td>
<td>Selling Price</td>
<td>Seller</td>
<td> Product Type</td>
<td>Amount In Stock</td></tr>
{% for item in items %}
<tr>
<td>{{item[0]}}</td>
<td>{{item[1]}}</td>
<td>{{item[2]}}</td>
<td>{{item[3]}}</td>
<td>{{item[4]}}</td>
<td>{{item[5]}}</td>
<td>{{item[6]}}</td>
<td>{{item[7]}}</td>
</tr>
{% endfor %}
</td>
</tr>
</table>
</center>


<p>
<p>
<p>

</form>
<form action="/createSale">
<center>
<table>
<tr>
<td>
<center>
<p>Product Id <input type="text" name="productId">
<p>New Selling Price <input type="text" name="newPrice">
<p><input type="submit" name="sale" value="Create Sale"><p>
</td>
</form>
<td>
</center>
</td>
</tr>
</table>
</center>
</form>
</div>
</body>
</html>
