<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
  </head>
  <body>
    <table border="4" style="width:50%">
      <tr>
        <td>
          Name
        </td>
        <td>
          Email
        </td>
      </tr>
    </table>
    <table border="4" style="width:50%">
      {% for res in results %}
        <tr>
        {% for newRes in res %}

          <td>
            {{newRes}}
          </td>

        {% endfor %}
        </tr>
      {% endfor %}
    </table>
    <a href="/">back</a>
  </body>
</html>
