<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
  </head>
  <body>
    <table border="4" style="width:50%">
      <tr>
        <td>
          Name
        </td>
        <td>
          Email
        </td>
      </tr>
    </table>
    <table border="4" style="width:50%">
      {% count = 0 %}
      {% for res in results %}
        <tr>
          <td>
            {{res[count][count]}}
          </td>
          <td>
            {{res[count][count+1]}}
          </td>
        </tr>
      {% count += 1 %}
      {% endfor %}
    </table>
    <a href="/">back</a>
  </body>
</html>
