
body{
	background:;
	position: static;
	}
.navigation{
	border: 5px solid black;
	float: right;
	width: 385px;
	height: 420px;
	right:100px;
	position: relative;
	}
.content{
	position: relative;
	top:70px; 
	}
.footer{
	position:fixed;
	}